<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- Font Awesome Icon Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">  
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>  
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script> 
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<style>
    /*https://www.adamsandbutler.com/destinations/
    https://www.telluride.com/lodging/vacation-homes/*/
    #navbar a {
  text-align: center;
  display:inline-block;
  color:  #0da7d1;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a :hover {
  background-color: #ddd;
  color:  #0da7d1;
}
.card:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}
.card-body h1:hover{translate: 20px 4rem 150px;}
    .card-deck{
      margin-bottom: 5px;
      color: rgb(23, 44, 44);
    }
    .cards-deck{
      margin-bottom: 5px;
      color: rgb(23, 44, 44);
    }
    .card-title{
      
      color:white;
      margin-top:20px;
      margin-left: 0;
      background-color: none;
      font-family: Gt,sans-serif;
    }
    .cards-title{
      
      color:white;
      margin-top:20px;
      margin-left: 0;
      background-color: none;
      font-family: Gt,sans-serif;
    }
   
    .cards-wrapper {
  display:flex;
  justify-content: center;
  transform: none;
  margin-left: 3rem;
  margin-right: 3rem;
 
}
.card img{
  max-width: 100%;
  max-height: 100%;
  font-family: 'Times New Roman', Times, serif;
}
.cards img{
  max-width: 100%;
  max-height: 100%;
  font-family: 'Times New Roman', Times, serif;
}
.carousel-item,.carousel-item:active{ 
  height:100%;
  width:100%;
  background-position:center center;}
  .carousel-caption{ 
  height:100%;
  width:100%;
  right: 100%;
  
  background-position:center center;}

hr.new4 {
  border: 1px solid rgb(97, 158, 219);
  margin-left:67rem;
  margin-right: 67rem;
}
hr.new5 {
  border: 1px solid white;
  margin-left:67rem;
  margin-right: 67rem;
}
hr.new6 {
  border: 1px solid orange;
  margin-left:67rem;
  margin-right: 67rem;
}
.checked {
  color: orange;
}

.responsive{
  background: linear-gradient(-115deg,rgb(97, 158, 219) 50%, rgb(227, 226, 226) 50%);
  height: 95vh;
  font-family:'Times New Roman', Times, serif;
  height:100%;
  width:100%;
  background-position:center center;
  
}
.cnt{
  margin-top: 15%;
}
#navbars {
  overflow: hidden;
  background-color: #333;
}

.responsive-iframe {
  position: absolute;margin: 1em;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 96%;
  height: 70%;
  margin:auto;
}
  </style>

<body style="background-color:white;margin: 0;">
  <div class="container-fluid">
   
    
  <nav class="navbar-right navbar-expand-sm bg-none navbar-dark fixed-top"  style="position:sticky;width: 100%; background-color: white;">
    <div class="container-fluid">
    <ul class="navbar-nav " style="font-family: Gt,Sans serif;float: right;" >
      <li class="nav-item " id="navbar" style="padding: 8px;">
        <a class="active" href="#demo" style="color:rgb(97, 158, 219);font-size:22px;"><b>Home</b></a>
      </li>
      <li class="nav-item " id="navbar" style="padding: 8px;">
        <a  href="#exp" style="color:rgb(97, 158, 219);font-size:22px;"><b>Experience</b></a>
      </li>
      <li class="nav-item "id="navbar"  style="padding: 8px;">
        <a  href="#dest"style="color:rgb(97, 158, 219);font-size:20px;"><b>Destinations</b></a>
      </li>
      <li class="nav-item " id="navbar" style="padding: 8px;">
        <a  href="#hotel"style="color:rgb(97, 158, 219);font-size:20px;"><b>Hotels</b></a>
      </li>
      <li class="nav-item " id="navbar" style="padding: 8px;">
        <a  href="#abt"style="color:rgb(97, 158, 219);font-size:20px;"><b>About Us</b></a>
      </li>
      <li class="nav-item " id="navbar" style="padding: 8px;">
        <a  href="#cntt"style="color:rgb(97, 158, 219);font-size:20px;"><b>Contact Us</b></a>
      </li>
      <li class="nav-item " id="navbar" style="padding: 8px;">
        <a  href="{% url 'log' %}"style="color:white;border-radius:12px;font-size:20px;background-color:rgb(97, 158, 219)"><b>Book Now</b></a>
      </li><!--
      <li class="nav-item " id="navbar" style="padding: 8px;font-size:20px;" >
        <a class="nav-link" data-toggle="modal" data-target="#modalLoginForm"style="color:rgb(97, 158, 219);" ><b>Log In</b></a>
      </li> -->

    </ul>
    </div>
</nav>
</div> 
 
  

  
      <!-- Modal -->
    
  
  

      <div id="demo" class="carousel slide" data-ride="carousel">

        
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
      
        
        <div class="carousel-inner"  style=" background-position:center center;margin: auto;">
          <div class="carousel-item active" style="margin-top:0;">
            
            <img class="d-block w-100" src="https://images.luxuryescapes.com/q_auto:good,c_fill,g_auto,w_1920,ar_16:9/346dzdaq7vvcvmpyjjgg.webp" alt="Los Angeles "  style="margin-top: 3rem;opacity:3;">
            <div class="carousel-caption"style="z-index: 10;" ><br><br><br><br><br><br><br><br><br>
              <h1 style="width: 69%;
              font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
              font-size:60px;border-radius: 20px;
             background: rgb(0, 0, 0); background-size:50%;
            background: rgba(0, 0, 0, 0.5);letter-spacing: 2px; 
            color: #f1f1f1;">Holiday Travels</h1>
              </div></div>
          
          
          <div class="carousel-item" style="margin-top:0;">
            <img class="d-block w-100" src="https://images.luxuryescapes.com/q_auto:good,c_fill,g_auto,w_1920,ar_16:9/qecqllprmf35ngj8s9fr.webp" alt="Chicago" style="margin-top: 3rem;opacity:3;" >
            <div class="carousel-caption"style="z-index: 10;" ><br><br><br><br><br><br><br><br><br>
              <h1 style="width: 69%;
              font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
              font-size:60px;border-radius: 20px;
             background: rgb(0, 0, 0); background-size:50%;
            background: rgba(0, 0, 0, 0.5);letter-spacing: 2px; 
            color: #f1f1f1;">Holiday Travels</h1>
              </div></div>
          
          <div class="carousel-item" style="margin-top: 0">
            <img class="d-block w-100" src="https://images.luxuryescapes.com/q_auto:good,c_fill,g_auto,w_1920,ar_16:9/tsldvyj3nw1egtp8eup.webp" alt="New York" style="margin-top: 3rem;opacity:3;">
            <div class="carousel-caption"style="z-index: 10;" ><br><br><br><br><br><br><br><br><br>
              <h1 style="width: 69%;
              font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
              font-size:60px;border-radius: 20px;
             background: rgb(0, 0, 0); background-size:50%;
            background: rgba(0, 0, 0, 0.5);letter-spacing: 2px; 
            color: #f1f1f1;">Holiday Travels</h1>
              </div></div>
          
         
        </div>
      
        
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon" ></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      
      </div>
    
<br><br>

<div class="container-fluid" id="exp" style="padding: 1.5rem;"><br><br><br><br><br><br>
<h1   style="color:rgb(97, 158, 219);text-align: center;font-family: Gt,sans-seriff; margin: 5px;"><b>Experiences</b> </h1>
<hr class="new4"><br>

    

        <div class="card-deck" style="margin: auto;font-family: 'Times New Roman', Times, serif ;text-align: center;">
          <div class="card-group " style="text-align:center;padding: 2rem;" >
            <div class="card " style="width:330px;transform: none;">
            <img class="card-img-top"  src="https://images.unsplash.com/photo-1538964173425-93884d739596?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80" alt="Forest" width="250" height="500" class="mx-auto d-block">
            <div class="card-img-overlay">
              <p class="card-body  text-center"><br>
                <h1 style="color:rgb(240, 242, 245) ;font-size: 30px;
                margin-top: 250px;text-shadow: 1px 1px 2px white, 0 0 1em rgb(40, 111, 198), 0 0 0.2em blue;">
                <b>Beaches</b></h1></p><a href="#"></a>
              </div>
            </div>
            <div class="card" style="width:330px;transform: none;">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1535379665706-aea78de84a41?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="Northern Lights" width="250" height="500"class="mx-auto d-block">
                <div class="card-img-overlay">
                  <p class="card-body text-center"><br><h1 style="color:rgb(240, 242, 245) ;font-size: 30px;
                    margin-top: 250px;text-shadow: 1px 1px 2px white, 0 0 1em rgb(224, 178, 26), 0 0 0.2em yellow;">
                    <b>Festivals</b></h1></p><a href="#"></a>
                  </div>
                </div>
              <div class="card" style="width:330px;transform: none;">
                <img class="card-img-top" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/f55b6c139249241.622c1daa472b0.jpg" alt="Mountains" width="250" height="500"class="mx-auto d-block">
                <div class="card-img-overlay">
                  <p class="card-body text-center"><br><h1 style="color:rgb(240, 242, 245) ;font-size: 30px;
                    margin-top: 250px;text-shadow: 1px 1px 2px white, 0 0 1em rgb(147, 66, 16), 0 0 0.2em red;">
                    <b>Cuisine</b></h1></p> <a href="#"></a>
                  </div>
                </div>
                <div class="card" style="width:330px;transform: none;">
                  <img class="card-img-top" src="https://www.keralatourism.org/images/homecontentimage/desktop/Festivals.jpg" alt="Mountains" width="250" height="500"class="mx-auto d-block">
                  <div class="card-img-overlay">
                    <p class="card-body text-center"><br><h1 style="color:rgb(240, 242, 245) ;font-size: 30px;
                      margin-top: 250px;text-shadow: 1px 1px 2px white, 0 0 1em rgb(55, 59, 63), 0 0 0.2em black;">
                      <b>Seasons</b></h1></p><a href="#"></a>
                     </div>
                  </div><br><br>
         
        
                  <br></div>
        <br><br>
        
        
            <div class="card-group" style="text-align:center;padding: 2rem;" >
         
        
              <br>
              <div class="card" style="width:330px;transform: none;">
              <img class="card-img-top"  src="https://images.pexels.com/photos/4371624/pexels-photo-4371624.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Forest" width="250" height="500" class="mx-auto d-block">
              <div class="card-img-overlay">
                <p class="card-body text-center"><br><h1 style="color:rgb(240, 242, 245) ;font-size: 30px;
                  margin-top: 250px;text-shadow: 1px 1px 2px white, 0 0 1em rgb(26, 77, 7), 0 0 0.2em rgb(13, 82, 30);">
                  <b>Boating</b></h1></p><a href="#"></a>
                </div>
              </div>
              <div class="card" style="width:330px;transform: none;">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1507608443039-bfde4fbcd142?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="Northern Lights" width="250" height="500"class="mx-auto d-block">
                  <div class="card-img-overlay">
                    <p class="card-body text-center"><br><h1 style="color:rgb(240, 242, 245) ;font-size: 30px;
                      margin-top: 250px;text-shadow: 1px 1px 2px white, 0 0 1em rgb(40, 111, 198), 0 0 0.2em blue;">
                      <b>Balloon Ride</b></h1></p><a href="#"></a>
                    </div>
                  </div>
                <div class="card" style="width:330px;transform: none;">
                  <img class="card-img-top" src="https://images.unsplash.com/photo-1546700990-7b6416f2d90c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=385&q=80" alt="Mountains" width="250" height="500"class="mx-auto d-block">
                  <div class="card-img-overlay">
                    <p class="card-body text-center"><br><h1 style="color:rgb(240, 242, 245) ;font-size: 30px;
                      margin-top: 250px;text-shadow: 1px 1px 2px white, 0 0 1em rgb(78, 30, 4), 0 0 0.2em rgb(75, 30, 6);">
                      <b>Horse Ride</b></h1></p> <a href="#"></a>
                    </div>
                  </div>
                  <div class="card" style="width:330px;transform: none;">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1541542684-be0c46417a12?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTA0fHxhZHZlbnR1cmV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" alt="Mountains" width="250" height="500"class="mx-auto d-block">
                    <div class="card-img-overlay">
                      <p class="card-body text-center"><br><h1 style="color:rgb(240, 242, 245) ;font-size: 30px;
                        margin-top: 250px;text-shadow: 1px 1px 2px white, 0 0 1em rgb(26, 77, 7), 0 0 0.2em rgb(13, 82, 30);">
                        <b>Hill Climb</b></h1></p>
                      <a href="#"></a>
                       </div>
                    </div></div><br><br>
          </div> 
          
          <br>
          <br><br>
        </div> <!--
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>-->
  
 
<br><br>
        <br>
        <br><br><br><br><br>
        <fieldset id="dest"style="margin: 1em;background-color: rgb(249, 240, 223);"><br><br><br><br><br>
            <h1  style="color:rgb(97, 158, 219);text-align: center;font-family: Gt,sans-seriff;"><b>Luxury Destinations</b></h1>
            <hr class="new4">
            <p style="text-align: center;font-family: Gt,sans-serif;">
                Holiday Travels open up a world of wonders and create magical memories<br> that will stay with you far beyond your travels.
                 Whatever your travel preference may be, whether you are looking for a cultural city break,<br>
                  a child friendly family holiday, unlimited adventure, a romantic getaway or just to escape and uncover, we are here to <br>
                  create a seamless experience while handcrafting your bespoke journey.
            </p><br>
           
            <div class="card-deck" style="margin:auto ;padding: 15px;">
              <div class="card-group" style="margin:auto;padding:3em;" >

               <div class="card" style="padding: 0px;" >
          <img class="card-img-top" style="width:600px;height: 300px;" src="https://www.adamsandbutler.com/app/uploads/2020/08/Cliffs-of-Moher.jpg" alt="Card image" style="width:100%">
             <div class="card-img-overlay">
                 <h2 class="card-title">Ireland</h2>
                 </div>
                  </div>
               
                    
               <div class="card" style="padding: 0px;" >
                         <img class="card-img-top"style="width:600px;height: 300px;" src="https://www.adamsandbutler.com/app/uploads/2020/08/connor-mollison-3rkosR_Dgfg-unsplash-1500x1000.jpg" alt="Card image" style="width:100%">
                        <div class="card-img-overlay">
                    <h2 class="card-title" style="text-align:center;"><a href="{% url 'uk' %}"  style="text-align:left;color: white;text-decoration: none;"><br><br><br>UK</a></h2>
                      </div>
                          </div>
               
                      </div>

                      <div class="card-group" style="margin:auto;padding: 3em;"  ><br><br><br><br>

                     
               <div class="card"  >
                                <img class="card-img-top" style="width:397px;height: 300px;" src="https://www.adamsandbutler.com/app/uploads/2020/08/jack-ward-rknrvCrfS1k-unsplash-1-1500x1329.jpg" alt="Card image" style="width:100%">
                                <div class="card-img-overlay">
                    <h2 class="card-title">Classic Europe</h2>
                             </div>
                                </div>
                                
                               
               <div class="card"  >
                                    <img class="card-img-top"style="width:400px;height: 300px;" src="https://www.adamsandbutler.com/app/uploads/2020/08/rsz_loisaba_tented_camp.jpg" alt="Card image" style="width:100%">
                                    <div class="card-img-overlay">
                                    <h2 class="card-title">Africa</h2>
                                  </div>
                                    </div>
                                    
                                    <div class="card"  >
                                        <img class="card-img-top"style="width:399px;height:300px;" src="https://www.adamsandbutler.com/app/uploads/2020/08/ryk-porras-D5-LrW0cZps-unsplash-1500x1126.jpg" alt="Card image" style="width:100%">
                                        <div class="card-img-overlay">
                                        <h2 class="card-title">The Americans</h2>
                                     </div>

                                        </div>
                      </div>
                              <div class="card-group" style="margin:auto;padding: 3em;"  >
                              
                                <div class="card"  >
                                            <img class="card-img-top" style="width:294px;height:300px;" src="https://www.adamsandbutler.com/app/uploads/2020/08/sorasak-_UIN-pFfJ7c-unsplash-3-1500x1001.jpg"alt="Card image" style="width:100%">
                                            <div class="card-img-overlay">
                                            <h2 class="card-title">Asia</h2>
                                          </div>
                                            </div>
                                     
                                            <div class="card" style="padding: 0px;" >
                                        <img class="card-img-top" style="width:295px;height:300px;"src="https://www.adamsandbutler.com/app/uploads/2020/08/lieselot-dalle-2lKjBwKwAF8-unsplash-1500x1029.jpg" alt="Card image" style="width:100%">
                                        <div class="card-img-overlay">
                                        <h2 class="card-title">Exotic Islands</h2>
                                      </div>
                                        </div>
                        
                                        <div class="card" style="padding: 0px;" >
                                    <img class="card-img-top" style="width:295px;height:300px;" src="https://www.adamsandbutler.com/app/uploads/2020/08/hans-jurgen-mager-CHqbiMhQ_wE-unsplash-1500x1000.jpg" alt="Card image" style="width:100%">
                                    <div class="card-img-overlay">
                                      <h2 class="card-title">Polar Regions</h2>
                                  </div>
                      
                        </div>
                        <div class="card" style="padding: 0px;" >
                            <img class="card-img-top" style="width:294px;height:300px;" src="https://www.adamsandbutler.com/app/uploads/2020/08/ian-badenhorst-SuT2MhkdyBQ-unsplash-1500x1092.jpg"alt="Card image" style="width:100%">
                            <div class="card-img-overlay">
                              <h2 class="card-title">Oceania</h2>
                          </div>
                            </div>
                      
                              
                              </div>               
                                  
              </div>
            </fieldset>
            
        </div>
        <br><br>

<div class="container-fluid" id="hotel"style="margin:auto;background-color: rgb(249, 240, 223);padding: 1.5rem">
  <h1  style="color:rgb(97, 158, 219);text-align: center;font-family: Gt,sans-seriff;"><br><br><b>Resort & Hotels</b></h1>
  <hr class="new4">
<h1 style="color:rgb(97, 158, 219);text-align: center;"></h1><br><br>
            
<div class="card-deck" style="padding: 15px;margin: auto;" >
  <div class="card-group" style="text-align: center;align-items: center;"  >
    <div class="card" style="width:340px;">
    <img class="card-img-top" src="https://www.holidify.com/images/cmsuploads/compressed/314367663_20210820182504.jpg" alt="Forest" width="100" height="200" class="mx-auto ">
    <div class="card-body">
      <h4 class="card-title" style="color:black;font-family :'Times New Roman', Times, serif;">DENNISLINGO PREMIUM HOTEL</h4>
      <p class="card-text" ><span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star" style="color: bisque;"></span>
        <span class="fa fa-star" style="color: bisque;"></span>
        <h5 style="color:black;font-family :'Times New Roman', Times, serif;">₹3,610 </h3>  <a href="#" class="btn btn-primary stretched-link">View Deal</a></p>
      </div>
    </div>
    <div class="card" style="width:340px">
        <img class="card-img-top" src="https://gos3.ibcdn.com/3e5a4e84bff411e88b530a7510c9dcdc.jpg" alt="Forest" width="150" height="200" class="mx-auto d-block">
        <div class="card-body">
          <h4 class="card-title" style="color:black;font-family :'Times New Roman', Times, serif;">SPARROW</h4>
          <p class="card-text" ><span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star" style="color: bisque;"></span>
            <h5 style="color:black;font-family :'Times New Roman', Times, serif;">₹2,225 </h3>  <a href="{% url 'ht' %}" class="btn btn-primary stretched-link">View Deal</a></p>
          <a href="{% url 'ht' %}"></a>
          </div>
        </div>
      <div class="card" style="width:340px">
        <img class="card-img-top" src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/256518845.jpg?k=2d9e94277caccdebe9f1b1fc9633616b2f9ea2377340aa55007ba78134a5b2ef&o=&hp=1"alt="Forest" width="150" height="200" class="mx-auto d-block">
        <div class="card-body">
          <h4 class="card-title" style="color:black;font-family :'Times New Roman', Times, serif;">GRAND HYATT KOCHI
            </h4>
          <p class="card-text" ><span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star" style="color: bisque;"></span>
            <h5 style="color:black;font-family :'Times New Roman', Times, serif;">₹3,499 </h3>  <a href="{% url 'htt' %}" class="btn btn-primary stretched-link">View Deal</a></p>
          <a href="{% url 'htt' %}"></a>
          </div>
        </div>
        <div class="card" style="width:340px">
          <img class="card-img-top" src="https://ak-d.tripcdn.com/images/0220m1200076gu69y672D_R_960_660_R5_D.jpg"alt="Card image" width="150" height="200" class="mx-auto d-block">
          <div class="card-body">
            <h4 class="card-title" style="color:black;font-family :'Times New Roman', Times, serif;">
              MEADOW HILLS RESORT
              </h4>
            <p class="card-text" ><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star" style="color: bisque;"></span>
              <span class="fa fa-star" style="color: bisque;"></span>
              <h5 style="color:black;font-family :'Times New Roman', Times, serif;">₹4,500 </h3>  
                <a href="#" class="btn btn-primary stretched-link">View Deal</a></p>
            <a href="#"></a>
            </div>
          </div></div><br><br>


          <div class="card-group" style="text-align: center;align-items: center;" >
          <div class="card" style="width:340px">
            <img class="card-img-top" src="https://content.r9cdn.net/rimg/himg/c4/5e/3f/expediav2-2785166-21815270-412288.jpg?width=1200&height=630&crop=true"alt="Card image" width="150" height="200" class="mx-auto d-block">
          <div class="card-body">
            <h4 class="card-title" style="color:black;font-family :'Times New Roman', Times, serif;">HOLIDAY RESORT

              </h4>
              <p class="card-text" ><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star" style="color: bisque;"></span>
                <h5 style="color:black;font-family :'Times New Roman', Times, serif;">₹4,500 </h3>  
                  <a href="#" class="btn btn-primary stretched-link">View Deal</a></p>
              </div>
            </div>
            <div class="card" style="width:340px">
              <img class="card-img-top" src="https://res.cloudinary.com/thrillophilia/image/upload/c_fill,f_auto,fl_progressive.strip_profile,g_auto,q_auto/v1/filestore/olefnv0pvynebiecoc3vhm1b7bpv_Villa-Exterior-Sit-out.jpg " width="150" height="200" class="mx-auto d-block">
              <div class="card-body">
                <h4 class="card-title" style="color:black;font-family :'Times New Roman', Times, serif;">LOYAL-QUEEN
                  </h4>
                  <p class="card-text" ><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star" style="color: bisque;"></span>
                  <h5 style="color:black;font-family :'Times New Roman', Times, serif;">₹3,255</h3>  <a href="#" class="btn btn-primary stretched-link">View Deal</a></p>
                <a href="#"></a>
                </div>
              </div>
              <div class="card" style="width:340px">
                <img class="card-img-top" src="https://img.traveltriangle.com/blog/wp-content/uploads/2020/01/cover-resorts-near-Kullu.jpg"width="150" height="200" class="mx-auto d-block">
          <div class="card-body">
            <h4 class="card-title" style="color:black;font-family :'Times New Roman', Times, serif;">SNOW-PALACE
              </h4>
            <p class="card-text" ><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star" style="color: bisque;"></span><h5 style="color:black;font-family :'Times New Roman', Times, serif;">₹3,999 </h3>
                  <a href="#" class="btn btn-primary stretched-link">View Deal</a></p>
            <a href="#"></a>
                  </div>
                </div><div class="card" style="width:340px">
                  <img class="card-img-top" src="https://ak-d.tripcdn.com/images/22060g0000007zbkl10BE_R_960_660_R5_D.jpg"width="150" height="200" class="mx-auto d-block">
                  <div class="card-body">
                    <h4 class="card-title" style="color:black;font-family :'Times New Roman', Times, serif;">BLUE STAR HOTEL
                      </h4>
                      <p class="card-text" ><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star" style="color: bisque;"></span>
                        <h5 style="color:black;font-family :'Times New Roman', Times, serif;">₹4,359 </h3> 
                           <a href="#" class="btn btn-primary stretched-link">View Deal</a></p>
                    <a href="#"></a>
                    </div>
                  </div></div><br>

  </div>
</div><br>
<br>
</div><br><br><br>




<br><div class="row" id="abt"></div><br><br><br><br><br>
<div class="row" style="margin: 1em;background-image:  url(https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
height:72rem ;background-repeat: no-repeat;background-size: cover;">
<fieldset style="width: 100%;margin:auto;
font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background: rgb(0, 0, 0); background-size:50%;
background: rgba(0, 0, 0, 0.5);text-align: center;
color: #f1f1f1;"><br><br><br><h1 style="font-size:50px; letter-spacing: 2px;margin: auto;">About Us</h1>
 <hr class="new5" style="color: white;">
  <p style="font-family: 'Times New Roman', Times, serif;font-size:20px ;margin: auto;"><br>
            Once you have travelled the voyage never ends. Holiday Travels will open a world of wonders and 
            create magical memories that<br> will stay with you far beyond your travels.
  
            Diverge from  the typical tourist destinations in favour of unique,<br> authentic experiences.
             Experiences designed in the most inspiring surroundings that will be <br>yours, and yours only.
              Journeys that create memorable moments and <br>Adams & Butler’s bespoke itineraries will make this<br> happen.
               The wonders of the world are within your reach.<br><br><br><br><br><br></p></fieldset>
</div>
<br><br><br><br><br><br><br>


<div class="container-fluid mt-3" id="cntt">
  
  <div class="row" style="background-image:  url(https://images.unsplash.com/photo-1470418001808-b1ad2577f245?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1826&q=80);
  height:72rem ;background-repeat: no-repeat;background-size: cover;margin: 1rem;padding: 5em;">
  <h1 style="text-align: center;font-size:5rem; letter-spacing: 1px;
  margin: auto;font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: #f1f1f1;">Contact Us</h1>
  
    <div class="col-sm-5 text-white p-3" >
     <p style="text-align:center;font-family: 'Times New Roman', Times, serif;font-size:20px ;
  color: white"><br>
           <b >Address :</b><br>  1st floor<br> Thapasaya Building<br> Infopark Kakanad <br> Kochi<br> Kerala 682042<br><br>
           <b>Phone :</b><br>  0485-2599999<br>9966855555<br></p>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-sm-5 text-white p-3" style="overflow:hidden; position:relative;padding-top: 75%;">
      <h2 style="text-align:center;font-family: 'Times New Roman', Times, serif;font-size:20px ;color:white ;">
        <br><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Location:</b></h2><br><br>
       
        <iframe style="text-align: center;" class="responsive-iframe" &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15716.296201890831!2d76.3606986!3d10.0107422!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d9bfaa6db61%3A0xa5df6acfc2d1e5fd!2sALTOS%20Technologies!5e0!3m2!1sen!2sin!4v1686842886012!5m2!1sen!2sin"  ></iframe>
      
    </div>
  </div>
  <div class="row"></div>
</div>




<br>

<!--
<div class="container-fluid">
  
  <div class="responsive" id="abt" style="
color:white;background-size: 100%;background-repeat: no-repeat; width: 100%;
      padding: 10px;">
       <div class="cnt">
        <h1 style="font-size:8rem;text-align:left;color:rgb(97, 158, 219);font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">&nbsp;&nbsp;&nbsp; About Us<br></h1>
        <div class="row">
          <h2 style="margin-left:90rem;font-family: 'Times New Roman', Times, serif;">
            Once you have travelled the voyage never ends. Holiday Travels will open a world of wonders and 
            create magical memories that<br> will stay with you far beyond your travels.
  
            Diverge from <br> the typical tourist destinations in favour of unique,<br> authentic experiences.
             Experiences designed in <br>the most inspiring surroundings that will be <br>yours, and yours only.
              Journeys that<br> create memorable moments and <br>Adams & Butler’s bespoke<br> itineraries will make this<br> happen.
               The wonders <br>of the world are<br> within your<br> reach.</h2></b>
          </div>
        </div></div>
        <br></div>--><br><br><br><br><br><br><br><br><br><br><br>

  
  <div class="footer" style="text-align: center;background-color:rgb(97, 158, 219);">
    <div class="row" style="margin: auto;" >
      <div class="col"  style="color:white;font-family:'Times New Roman', Times, serif;background-color:rgb(97, 158, 219) ;">
        
           <br><br><h4></h4><br><br>
            <h3>HELP/FAQS<br><br>
                BOOKING<br><br>
                ABOUT US<br><br>
                CONTACT US<br><br>
               FACILITIES<br><br>
                
                </h3><br><br>
        </div>
        <div class="col" style="color:white;font-family:'Times New Roman', Times, serif;background-color:rgb(97, 158, 219) ;">
            <br><br><h4></h4><br><br>
            <h3>EXPERIENCE<br><br>
              DESTINATIONS<br><br>
              HOTELS<br><br>
              RESTAURANTS<br><br>
              RESORTS<br><br>
               
               </h3><br><br>
        </div>
        <div class="col" style="color:white;font-family:'Times New Roman', Times, serif;background-color:rgb(97, 158, 219) ;">
            <br><br><h4></h4><br><br>
             <h3> GALLERY<br><br>
              EVENTS<br><br>
                PRIVACY & SAFETY<br><br>
                SPECIAL OFFERS<br><br>
                </h3><br><br>
         </div></div>
         <div ><h5 style="color: white;font-family: 'Times New Roman', Times, serif;">&nbsp;&nbsp;
www.holidaytravels.com<br>&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;holiday@gmail.com<br></h5><br>
         </div>
        
    </div>
  </div>
</div>
</div>


</div>
</body>
<script>
  $(document).ready(function(){
    $('.carousel .carousel-caption').css('zoom',$('.carousel ').width()/1250);

  });
  $(window).resize(function(){
    $('.carousel .carousel-caption').css('zoom',$('.carousel ').width()/1250);
  });

</script><script>
$(document).ready(function(){
  
    
  // Enable Carousel Controls
  $(".carousel-control-prev").click(function(){
    $("#demo").carousel("prev");
  });
  $(".carousel-control-next").click(function(){
    $("#demo").carousel("next");
  });
});
</script>
<script>
  window.onscroll = function() {myFunction()};
  
  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;
  
  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
  </script>
</html>
